
$userDefined: ( // User Defined Colors

  brand-primary:                      #50d38c,
  body-bg:                            #fff,
  text:                               #232325,
  link:                               #232325,
  link-hover:                         #00e395,
  link-active:                        #00e395,
  headings:                           #2c2c2f,
  btn-text:                           #999,
  btn-bg:                             #fff,
  btn-border:                         #999,
  placeholder:                        #333,
  border:                             #e5e5e5,
  tab-gradient__color1:               #fff,
  tab-gradient__color2:               #f2f2f2,
  white:                              #fff,
  black:                              #000,
  bg:                                 #4b4b51,
	sale:                               #ff8401
);




// Custom Modifiers
$userDefined: map-merge($userDefined, (

  text--light:                        lighten(map-get($userDefined, text), 40),
  text--lighter:                      lighten(map-get($userDefined, text), 85),
  btn-text--light:                    lighten(map-get($userDefined, btn-text), 40),
  border--light:                      lighten(map-get($userDefined, border), 40),
  border--dark:                       darken(map-get($userDefined, border), 64%),
  placeholder--focus:                 lighten(map-get($userDefined, placeholder), 56),
  bg--dark:                           adjust_hue(desaturate(darken(map-get($userDefined, bg), 12), 1), 45),
  bg--darker:                         adjust_hue(saturate(darken(map-get($userDefined, bg), 19), 1), 50),
  bg--light:                          adjust_hue(saturate(lighten(map-get($userDefined, bg), 32), 4), 0),
  bg--lighter:                        lighten(desaturate(map-get($userDefined, bg), 3), 61),

));

$bootstrap: ( // Bootstrap Colors

  graydarker:                         #222,
  graydark:                           #333,
  gray:                               #555,
  graylight:                          #999,
  graylighter:                        #eee,

  brandPrimary:                       map-get($userDefined, brand-primary),
  brandSuccess:                       #5cb85c,
  brandInfo:                          #5bc0de,
  brandWarning:                       #f0ad4e,
  brandDanger:                        #d9534f,

  bodyBg:                             map-get($userDefined, body-bg),
  textColor:                          map-get($userDefined, text),
  linkColor:                          map-get($userDefined, link),
  linkHoverColor:                     map-get($userDefined, link-hover),

  headingsColor:                      map-get($userDefined, headings),

  componentActiveColor:               #fff,

  tableBg:                            transparent,
  tableBgAccent:                      #f9f9f9,
  tableBgHover:                       #f5f5f5,
  tableBorderColor:                   #ddd,

  btnDefaultColor:                    map-get($userDefined, btn-text),
  btnDefaultBg:                       map-get($userDefined, btn-bg),
  btnDefaultBorder:                   map-get($userDefined, btn-border),
  btnPrimaryColor:                    map-get($userDefined, btn-text--light),
  btnSuccessColor:                    map-get($userDefined, btn-text--light),
  btnInfoColor:                       map-get($userDefined, btn-text--light),
  btnWarningColor:                    map-get($userDefined, btn-text--light),
  btnDangerColor:                     map-get($userDefined, btn-text--light),

  inputBg:                            #fff,
  inputBorder:                        #e5e5e5,
  inputFocus:                         #00e395,

  legendBorderColor:                  #e5e5e5,

  dropdownBg:                         #2e2e31,
  dropdownBorder:                     #2e2e31,
  dropdownFallbackBorder:             #2e2e31,
  dropdownDividerBg:                  #e5e5e5,
  dropdownLinkColor:                  #fff,
  dropdownLinkHoverColor:             #fff,
  dropdownLinkHoverBg:                #464649,
  dropdownCaretColor:                 #fff,

  navbarDefaultColor:                 #777,
  navbarDefaultBg:                    #f8f8f8,
  navbarDefaultLinkColor:             #777,
  navbarDefaultLinkHoverColor:        #333,
  navbarDefaultLinkHoverBg:           transparent,
  navbarDefaultLinkActiveColor:       #555,
  navbarDefaultLinkDisabledColor:     #ccc,
  navbarDefaultLinkDisabledBg:        transparent,
  navbarDefaultBrandHoverBg:          transparent,
  navbarDefaultToggleHoverBg:         #ddd,
  navbarDefaultToggleIconBarBg:       #888,
  navbarDefaultToggleBorderColor:     #ddd,

  navbarDefaultInverseColor:          #fff,
  navbarInverseBg:                    #1b1c1e,
  navbarInverseBorder:                transparent,
  navbarInverseLinkColor:             #fff,
  navbarInverseLinkHoverColor:        #fff,
  navbarInverseLinkHoverBg:           #2e2e31,
  navbarInverseLinkActiveBg:          #2e2e31,
  navbarInverseLinkDisabledColor:     #444,
  navbarInverseLinkDisabledBg:        transparent,
  navbarInverseBrandHoverColor:       #00e395,
  navbarInverseBrandHoverBg:          transparent,
  navbarInverseToggleHoverBg:         #2e2e31,
  navbarInverseToggleIconBarBg:       #fff,
  navbarInverseToggleBorderColor:     #1b1c1e,

  navOpenLinkHoverColor:              #fff,
  navTabsBorderColor:                 #ddd,
  navTabsActiveLinkHoverBorderColor:  #ddd,
  navTabsJustifiedLinkBorderColor:    #ddd,

  paginationBg:                       #fff,
  paginationBorder:                   #ddd,
  paginationHoverBorder:              #ddd,
  paginationActiveColor:              #fff,
  paginationDisabledBg:               #fff,
  paginationDisabledBorder:           #ddd,

  stateSuccessText:                   #3c763d,
  stateSuccessBg:                     #dff0d8,
  stateInfoText:                      #31708f,
  stateInfoBg:                        #d9edf7,
  stateWarningText:                   #8a6d3b,
  stateWarningBg:                     #fcf8e3,
  stateDangerText:                    #a94442,
  sateDangerBg:                       #f2dede,

  tooltopColor:                       #fff,
  tooltipBg:                          #1b1c1e,

  popoverBg:                          #fff,
  popoverFallbackBorderColor:         #ccc,
  popoverArrowColor:                  #fff,

  labelColor:                         #fff,
  labelLinkHoverColor:                #fff,

  modalContentBg:                     #fff,
  modalContentFallbackColor:          #999,
  modalBackdropBg:                    #000,
  modalFooterBorderColor:             #e5e5e5,

  progressBg:                         #f5f5f5,
  progressBarColor:                   #fff,

  listGroupBg:                        #fff,
  listGroupBorder:                    #ddd,
  listGroupHoverBg:                   #f5f5f5,
  listGroupLinkColor:                 #555,
  listGroupLinkHeadingColor:          #333,

  panelBg:                            #fff,
  panelInnerBorder:                   #ddd,
  panelFooterBg:                      #f5f5f5,
  panelDefaultBorder:                 #ddd,
  panelDefaultHeadingBg:              #f5f5f5,
  panelPrimaryText:                   #fff,

  thumbnailBorder:                    #ddd,

  wellBg:                             #f5f5f5,

  badgeColor:                         #fff,
  badgeLinkHoverColor:                #fff,
  badgeActiveBg:                      #fff,

  breadcrumbBg:                       transparent,
  breadcrumbColor:                    #2c2c2f,

  carouselControlColor:               #fff,
  carouselIndicatorActiveBg:          #fff,
  carouselIndicatorBorderColor:       #fff,
  carouselCaptionColor:               #fff,

  closeColor:                         #000,
  closeTextShadow:                    #fff,

  codeColor:                          #c7254e,
  codeBg:                             #f9f2f4,
  kbdColor:                           #fff,
  kbdBg:                              #333,
  preBg:                              #f5f5f5,
  preBorderColor:                     #ccc
);

$colors: map-merge($userDefined, $bootstrap);

