.vn-faceted-search {
	border-top     : 1px solid map-get($colors, border);
	padding-top    : 10px;
	padding-bottom : 10px;

	@include respond-to(sm-and-up) {
		left    : 1px; // TODO fix this hack which softens border btwn faceted search and main panel
		padding : 0 25px 20px;
	}

	h3 {
		@include font($size : 2.5rem, $family : (Novecentosanswide-Bold));
		text-transform : uppercase;
	}

	label {
		font-weight : normal;
	}

	.panel-body {
		padding-top : 10px !important;
		@include respond-to(xs) {
			padding-left  : 15px !important;
			padding-right : 15px !important;
		}

		.facet-properties {
			margin : 0;

			.name {
				@extend %animate-all;
				cursor : pointer;
				&:hover {
					color : $link-hover-color
				}
			}
			.count {
				@include font-smoothing(false);
				color            : $gray-light;
				background-color : inherit;
				display          : inline;
				float            : right;
				margin-left      : 0;
				position         : relative;
				top              : 0px;

				&:before {
					content : "(";
				}
				&:after {
					content : ")";
				}
			}
		}
	}

	.panel-default {
		border-top    : 1px solid map-get($colors, border);
		border-bottom : 1px solid map-get($colors, border);
		@include respond-to(sm-and-up) {
			border     : none;
			box-shadow : none;
		}
	}

	.panel-default > .panel-heading {
		background    : none;
		padding-left  : 0;
		padding-right : 5px;

		.panel-title {
			@include font($size : 1.5rem, $family : (Roboto-Condensed-Bold));
			text-transform : uppercase;
			@include respond-to(xs) {
				padding : 0 15px;
			}

			// Make accordion chevrons invisible
			.glyphicon {
				visibility : hidden;
			}
		}
	}

	.vn-category-search {
		&__category-items {
			&__category-title {
				border-bottom : 0;
				font-size     : 1.4rem;
				padding       : 5px 0 5px 0 !important;
			}
			&__category-item {
				@extend %animate-all;
				border-bottom : 0;
				border-left   : 3px solid transparent;
				margin-top    : 5px;
				margin-bottom : 5px;
				padding       : 0 0 0 7px !important;

				&:hover {
					border-color : $link-hover-color;
				}

				a { display: block }
			}
		}
	}

	.facet-item__by-price {
		&__inputs {
			padding : 0;

			input {
				width : 40px;
			}
		}
		&__button {
			@extend .btn-primary;
			@include border-radius(45px);
			line-height : normal;
			padding     : 5px 8px !important;

			@include respond-to(sm) {
				padding : 5px !important;
			}
		}
	}

	&-footer .__clear-action {
		width : 100%;
	}

	.facet-property__swatch {
		@extend %animate-all;
		float         : left;
		margin        : 2px;
		padding       : 3px;
		border-radius : 4px;
		cursor        : pointer;
		border        : 2px solid transparent;

		&:hover {
			border-color : map-get($colors, border);
		}

		&--selected {
			border-color : black;
		}

		&--color {
			border: thin outset black;
			border-radius : 4px;
			height        : 25px;
			width         : 25px;
		}
	}
}

.vn-faceted-search-header {
	@include respond-to(xs) {
		button.btn {
			margin : 15px 10px;
		}
	}
}

.vn-faceted-search {
	.vn-sort-mobile-search-control {
		text-align : left;

		.dropdown-menu {
			text-align : center;
			@include respond-to(sm-and-up) {
				width : 100%;
			}
		}
		button {
			@include respond-to(sm-and-up) {
				margin-bottom : 2px;
				margin-top    : 10px;
				width         : 100%;
			}
		}
	}
}
