.vn-sort-desktop-search {
	.dropdown {
		float: right;
	}
	.dropdown-menu {
		left: -35px;
		min-width: 140px;
		text-align: right;
		top: 58px;
	}
	button {
		position: relative;
		top: 15px;
	}
}

.vn-sort-mobile-search-control {
	text-align: left;
}
