@import "bootstrap/navs";

.nav.nav-tabs {

  > li {

    > a {
      @extend %no-border-radius;
      @extend %tab-shadow;
      @include font(
        $size: 1.4rem,
        $family: Roboto-Condensed-Bold
      );
      border-color: map-get($colors, border);
      text-transform: uppercase;
      margin-right: 0;
      margin-left: 2px;

      @include respond-to(sm-and-up) {
        padding: 20px 55px;
        margin-left: 25px;
      }

      @include respond-to(md-and-up) {
        padding: 20px 75px;
      }

      &:hover {
        color: map-get($colors, link-hover);
        @include background(
          $color: map-get($colors, body-bg)
        );
      }

    }

    &:first-child > a {
      margin-left: 0;
    }

    &.active {
      > a {
        @include background(
          $color: map-get($colors, body-bg)
        );
        border-bottom-color: map-get($colors, body-bg);
        color: map-get($colors, link-active);
      }
    }

  }

}
