.th-navbar {
	border : 0;
	margin : 0;

	@include respond-to(md-and-up) {
		min-height : 73px;
	}

	&__header, &__collapse {
		float : left;
	}

	&__toggle {
		float         : left;
		padding-left  : 0;
		padding-right : 0;
		margin-left   : 15px;
		margin-right  : 0;
	}

	&__menu {
		@include respond-to(md-and-up) {
			> li > a {
				@include font(
				$family : $font-family-main-menu,
				$size : 1.5rem
				);
				text-transform : uppercase;
				padding        : 26px 30px 27px;
			}
		}
	}

	&__brand {
		padding-top    : 15px;
		padding-bottom : 15px;
		line-height    : 18px;
		height         : 50px;

		@include respond-to(md-and-up) {
			padding-top    : 18px;
			padding-bottom : 18px;
			line-height    : 34px;
			height         : 73px;
		}
	}
}
