<footer class="th-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-8 th-footer__left">
				<div class="hidden-xs hidden-sm th-footer__links">
					<div class="row">
						<div class="col-md-3">
							<ul>
								<li><a data-ui-sref="i18n.about">About Us</a></li>
								<li><a data-ui-sref="i18n.contact">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Shipping</a> &amp; <a href="#">Returns</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">Login</a> / <a href="#">Register</a></li>
								<li><a href="#">Order History</a></li>
								<li><a href="#">Shipping Satus</a></li>
								<li><a href="#">Returns History</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">Helpful Info</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Wish List</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul>
								<li><a href="#">Registry</a></li>
								<li><a href="#">Product Reviews</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Manage Subscriptions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="visible-xs visible-sm th-footer__links th-footer__links--collapsed">
					<select class="form-control">
						<option value="About Us">About Us</option>
						<option value="Contact Us">Contact Us</option>
						<option value="Order Status">Order Status</option>
						<option value="Shipping &amp; Returns">Shipping &amp; Returns</option>
						<option value="Login/Register">Login/Register</option>
						<option value="Order History">Order History</option>
						<option value="Shipping Status">Shipping Status</option>
						<option value="Returns History">Returns History</option>
						<option value="Helpful Info">Helpful Info</option>
						<option value="Privacy Policy">Privacy Policy</option>
						<option value="Gift Cards">Gift Cards</option>
						<option value="Wish List">Wish List</option>
						<option value="Registry">Registry</option>
						<option value="Product Reviews">Product Reviews</option>
						<option value="Blog">Blog</option>
						<option value="Manage Subscriptions">Manage Subscriptions</option>
					</select>
				</div>
				<div class="th-footer__copyright">
					Copyright &copy; 2014 | <a href="/">www.gizmo.com</a>. Built with <a href="//:www/volusion.com">Volusion</a>.
				</div>
			</div>
			<div class="col-sm-12 col-md-4 th-footer__right">
				<div class="th-elist">
					<div class="th-elist__title">Newsletter Sign up</div>
					<form role="form" name="MailingList" method="post" action="/MailingList_subscribe.asp">
						<label class="sr-only" for="elist">Enter Email to sign up</label>
						<input type="email" name="emailaddress" class="form-control input-lg th-elist__input" placeholder="Get Free Updates">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Sign Me Up!</button>
					</form>
				</div>
				<div class="th-social">
					<a href="#">
						<div class="th-icon th-icon--facebook th-social__icon">
							<div class="th-icon__foreground"></div>
						</div>
					</a>
					<a href="#">
						<div class="th-icon th-icon--twitter th-social__icon">
							<div class="th-icon__foreground"></div>
						</div>
					</a>
					<a href="#">
						<div class="th-icon th-icon--pinterest th-social__icon">
							<div class="th-icon__foreground"></div>
						</div>
					</a>
					<a href="#">
						<div class="th-icon th-icon--google th-social__icon">
							<div class="th-icon__foreground"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
