<nav class="navbar navbar-inverse navbar-fixed-top th-navbar"
		role="navigation">
		data-ng-show="headerState"
		data-ng-controller="HeaderCtrl">
	<div class="container vn-dropzone">
		<header class="navbar-header th-navbar__header">
			<button type="button" class="navbar-toggle th-navbar__toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only" data-translate="index.toggleNav"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="visible-xs visible-sm navbar-brand th-navbar__brand" data-ng-href="/">
				<img data-ng-src="{{config.general.mobileLogoUrl }}" class="img-responsive" /></a>
			<a class="hidden-xs hidden-sm navbar-brand th-navbar__brand" data-ng-href="/">
				<img data-ng-src="{{config.general.logoUrl }}" class="img-responsive" /></a>
		</header>
		<div class="navbar-collapse collapse th-navbar__collapse">
			<ul class="nav navbar-nav th-navbar__menu">
				<li data-ng-repeat="category in smartNavCategories">
					<a data-ng-href="{{ category.url }}">
						{{category.name}}
						<span data-ng-if="category.subCategories.length" class="caret"></span>
					</a>
					<ul show-on-dropdown-hover class="dropdown-menu" data-ng-if="category.subCategories.length">
						<li data-ng-repeat="subCategory in category.subCategories">
							<a data-ng-href="{{ subCategory.url }}">{{subCategory.name}}</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" data-ng-show="displaySmartNavMoreMenuItem">
					<a href="#" class="navbar-link" data-translate="header.smartNavMoreLinkText">
						More
						<span class="caret th-dropdown-toggle"></span>
					</a>
					<ul show-on-dropdown-hover class="dropdown-menu">
						<li data-ng-repeat="category in smartNavMoreCategories">
							<a class="navbar-link" data-ng-href="{{ category.url }}">{{category.name}}</a>
						</li>
					</ul>
				</li>
			</ul>

		</div><!--/.nav-collapse -->
		<div class="th-cart-summary">
			<a legacy-link="{{ viewCart() }}" class="th-cart-summary__link">
				<div class="th-icon th-icon--cart th-cart-summary__icon">
					<div class="th-icon__foreground"></div>
				</div>
			</a>
		</div>
		<div class="th-search" data-ng-controller="SearchCtrl">
			<form role='search'
						name="frmSearch"
						data-ng-submit="doSearch()"
						novalidate>
				<label class="sr-only" for="search">Search Site</label>
				<input type="text" data-ng-model='searchLocal' class="th-search__input" placeholder="Search...">
				<button type="button" data-ng-click="doSearch()" class="th-search__submit">
					<div class="th-icon th-icon--spyglass">
						<div class="th-icon__foreground"></div>
					</div>
				</button>
			</form>
		</div>
	</div>
</nav>
