<div data-snap-drawer
		 class="th-mobile-menu"
		 data-ng-show="snapMenuState"
		 data-ng-controller="HeaderCtrl">

	<div class="hidden-md hidden-lg container-fluid th-search--mobile-menu"
	     data-ng-controller="SearchCtrl">
	<div class="row">
			<div class="col-xs-12">
			<form class="form-inline th-search--mobile-menu__form"
							role="search"
							name="frmSearch"
							data-ng-submit="doSearch()"
							novalidate>
					<label class="sr-only" for="search">Search</label>
					<input type="text" id="search"
								 class="form-control th-search--mobile-menu__input"
								 placeholder="Search..."
								 data-ng-model='searchLocal'>
					<button type="submit"
									class="th-search--mobile-menu__submit"
									data-ng-click="doSearch()">
						<span class="glyphicon glyphicon-search th-search--mobile-menu__icon"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
	<div class="th-mobile-menu__list">
		<div vn-nav-mobile></div>
	</div>

	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column1 | vnLegacyLinkify | html"></div>
	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column2 | vnLegacyLinkify | html"></div>
	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column3 | vnLegacyLinkify | html"></div>

</div>
