<div data-snap-drawer
		 class="th-mobile-menu"
		 data-ng-show="snapMenuState"
		 data-ng-controller="HeaderCtrl">

	<div mobile-search-box
	     search-term="searchLocal"
	     show-search="showSearchDesktop"></div>

	<div class="th-mobile-menu__list">
		<div vn-nav-mobile></div>
	</div>

	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column1 | vnLegacyLinkify | html"></div>
	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column2 | vnLegacyLinkify | html"></div>
	<div class="th-mobile-menu__footer-link-block" data-ng-bind-html="themeSettings.general.footer.content.column3 | vnLegacyLinkify | html"></div>

</div>
