<div class="th-product-tile">
	<div class="th-product-tile__image">
		<img data-ng-src="{{ getImagePath(product.imageCollections) }}" class="img-responsive" alt="{{product.name}}">
	</div>
	<div class="th-product-tile__info">
		<span class="th-product-tile__name">{{product.name}}</span>

		<div class="th-product-tile__price">
			<span data-ng-show="product.pricing.regularPrice > 0">
				<span data-ng-class="{strike: product.pricing.salePrice > 0}" ng-bind-html="product.pricing.regularPrice | vnFormattedCurrency"></span>
			</span>
			<span class="th-product-tile__price--sale" data-ng-show="product.pricing.salePrice > 0">
				<span ng-bind-html="product.pricing.salePrice | vnFormattedCurrency"></span>
			</span>
		</div>
		<div class="th-tile-details th-product-tile__details">
			<div class="th-review-stars" ng-if="product.avgRating">
				<span class="th-reviews__avg">
					<span data-vn-rating rating-value="product.avgRating"
								maximum="ratingsAndReviews.data.maxRating"
								editable="isEditable" title=""></span>
				</span>
			</div>
			<div class="th-tile-details__description">
				<span>{{product.descriptions.short}}</span>
			</div>
			<a data-ng-href="{{product.url}}">
				<button type="button"
				        class="btn btn-lg center-block th-btn--dark">View Details</button>
			</a>
		</div>
	</div>
</div>
