<div data-snap-drawer="right"
     class="th-checkout"
     data-ng-controller="ShoppingCartCtrl">

	<!--<div class="th-checkout__brand" data-ng-if="!isInDesktopMode">
		<button type="button" class="navbar-toggle th-checkout__brand--search" data-ng-init="navCollapsed = true" snap-toggle="left">
			<span class="sr-only" data-translate="header.toggleNavigation">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<img class="th-checkout__brand--image" data-ng-src="{{ config.general.logoUrl }}" class="img-responsive" />

		<br style="clear: both;" />
	</div>-->

	<div class="th-checkout__nav btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn th-checkout__nav__btn th-checkout__nav__btn--keepshopping"
				        data-snap-close data-translate="shopping-card.btnKeepShopping">
					Keep Shopping
				</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary th-checkout__nav__btn th-checkout__nav__btn--checkout"
				        data-ng-click="gotoCheckout()"
				        data-translate="shopping-card.btnCheckout"
				        data-ng-disabled="cartEmpty">
					Checkout
				</button>
			</div>
	</div>

	<div class="container-fluid th-checkout__subtotal" data-ng-if="!cartEmpty">
		<div class="row">
			<div class="col-xs-12 text-center th-checkout__noitems--label"
			     data-translate="shopping-card.lblYourCartIsEmpty"
			     data-ng-if="cartEmpty">
				Your cart is empty
			</div>
			<div class="col-xs-12">
				<span class="th-checkout__subtotal--label" data-translate="shopping-card.lblSubtotal">Subtotal:></span>
				<span class="th-checkout__subtotal--price">{{ calcSubtotal | currency }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-sm th-checkout__subtotal__apply-coupon">
					<input type="text" class="form-control th-checkout__subtotal__apply-coupon--input"
							   data-ng-model="coupon.code"
								 placeholder="Add Promo Code">
		      <span class="input-group-btn">
		        <button type="button" class="btn btn-primary th-checkout__subtotal__apply-coupon--button"
		                data-translate="shopping-card.btnApply"
		                data-ng-click="applyCoupon()">
			        Apply
		        </button>
		      </span>
				</div><!-- /input-group -->
			</div>
		</div>
	</div>

	<div class="th-alert-container">
		<div data-vn-app-message=""></div>
	</div>


	<div class="container-fluid th-checkout__coupons" data-ng-if="!couponsEmpty">
		<div class="row">
			<div class="col-xs-12 th-checkout__coupons--label" data-translate="shopping-card.lblCoupons">Coupons:</div>
			<div class="col-xs-12 th-checkout__coupons__coupon-tile"
			     data-ng-repeat="coupon in cart.discounts track by $index"
			     data-ng-class="{'-last': $last}">
				<div class="row">
					<div class="col-xs-9 th-checkout__coupons__coupon-tile--name">
						{{ coupon.name }}
					</div>
					<div class="col-xs-3 th-checkout__coupons__coupon-tile--close-btn">
						<button type="button" class="" data-ng-click="deleteCoupon('{{coupon.id}}')">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
					<div class="col-xs-12 th-checkout__coupons__coupon-tile--value">
						{{ coupon.value | currency }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="th-checkout__items" data-ng-if="!cartEmpty">
		<div>
			<div class="th-checkout__items--label" data-translate="shopping-card.lblYourCart">Your cart</div>
		</div>
		<div class="th-checkout__items__item" data-ng-repeat="item in cart.items | reverse">
			<div class="th-checkout__items__item--close">
				<button data-ng-click="deleteItem({{ item.id }})"><span></span></button>
			</div>
			<div>
				<img class="th-checkout__items__item--image" data-ng-src="{{ item.imgUrl }}"/>

				<div>
					<div class="th-checkout__items__item--name">
						<a data-ng-href="{{ item.productUrl }}">{{ item.name }}</a>
					</div>
					<div class="th-checkout__items__item--price">{{ item.pricing.unitPrice | currency }}</div>
					<div class="th-checkout__items__item--option" data-ng-repeat="option in item.options">
						<span>{{ option.optionText }}</span>
					</div>
				</div>

				<br style="clear: both;"/>
			</div>

			<div>
				<div class="th-checkout__items__item--qty">
					<!--<span class="dropdown" on-toggle="toggled(open)">-->
					<button class="btn btn-default dropdown-toggle"
					        data-toggle="dropdown">

						{{ item.qty }}<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li data-ng-repeat="choice in getArray(choices) track by $index">
							<a role="menuitem"
							   tabindex="-1"
							   href
							   data-ng-click="onOptionChanged(item, {{ $index+1 }})">

								{{ $index+1 }}
							</a>
						</li>
					</ul>
					<!--</span>-->
				</div>
				<div class="th-checkout__items__item--subtotal">{{ item.pricing.subtotal | currency }}</div>
			</div>

			<br style="clear: both;"/>
		</div>
	</div>
</div>
