.th-btn--dark {
	@extend %font-smoothing;
	background-color : map-get($colors, bg--dark);
	color            : map-get($colors, text--lighter);

	&:hover {
		background-color : map-get($colors, brand-primary);
		color            : map-get($colors, text--lighter);
	}
}

.btn {
	@extend %animate-all;
	@include font($size : 1.1rem,$line-height : 2.5,$family : ($font-family-buttons));
	text-transform : uppercase;
	letter-spacing : 0.2rem;
	border-width   : 2px;

	&.btn-xs {
		font-size : 0.7rem;
	}

	&.btn-sm {
		font-size : 0.9rem;
	}

	&.btn-lg {
		font-size : 1.2rem;
	}

	&.btn-primary,
	&.btn-success {
		@extend %font-smoothing;
	}

}
