body {
	font-size   : 1.4rem;
}

a, a:hover, a:active {
	text-decoration : none;
}

// Necessary for Angular-UI-Bootstrap Elements
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dropdown-menu {
	@extend %font-smoothing;
}

.fa.fa-star,
.fa.fa-star-o {
	color: gold;
}
