.th-cart-summary {
	cursor           : pointer;
	position         : absolute;
	top              : 0;
	right            : 0;
	background-color : $gray-bg--dark;
	border-left      : 1px solid $border--dark;
	z-index          : 9;

	&__icon {
		@extend %animate-all;
		color   : white;
		padding : 15px 25px;

		&:hover {
			color : $link-hover-color;
		}

		@include respond-to(md-and-up) {
			font-size : 1.6rem;
			padding : 25px 31px;
		}
	}
}
