.snap-content { background-color : $body-bg }
.snap-drawer  { width : 266px }

.th-mobile-menu {
	@include box-shadow(rgba($navbar-inverse-bg,0.8) -25px 0 20px -20px inset);
	@extend %font-smoothing;
	background-color : $navbar-inverse-bg;
	border           : thin solid map-get($colors, border--dark);
	color            : white;

	&__category-list {
		ul {
			margin         : 0;
			padding-top    : 0;
			padding-bottom : 0;
		}

		&__link {
			@include box-shadow(rgba($navbar-inverse-bg,0.8) -25px 0 20px -20px inset);
			@extend %animate-all;
			color          : white;
			border-bottom  : thin inset map-get($colors, border--dark);
			font-size      : 1.6rem;
			font-family    : 'roboto-condensed-bold';
			padding        : 12px 15px !important;
			text-transform : uppercase;

			// This targets the class that is added to the parent 'li' with Bootstrap JS
			.open & {
				color            : inherit;
				background-color : inherit !important;
			}

			// Plus and Minus Icons
			span.glyphicon {
				font-size : 12px;
				top       : 3px;
				&:before {
					content : "\2b";
					.open & {
						content : "\2212";
					}
				}
			}
		}

		&__sublink {
			@include box-shadow(rgba($navbar-inverse-bg,0.8) -25px 0 20px -20px inset);
			@extend %animate-all;
			color            : white;
			background-color : map-get($colors, border--dark);
			border-bottom    : thin inset $navbar-inverse-bg;
			font-size        : 1.4rem;
			font-family      : 'roboto-condensed-regular';
			padding          : 10px 15px !important;
			text-transform   : uppercase;
		}
	}

	&__footer-link-block {
		font-family   : 'Source-Sans-Pro-Regular';
		margin-top    : 10px;
		margin-bottom : 15px;
		&:last-child {
			margin-bottom : 30px
		}

		li {
			&:first-child {
				font-family : 'roboto-condensed-bold';
				margin     : 6px 15px
			}

			a {
				@extend %animate-all;
				color   : white;
				margin : 3px 15px;
				padding: 0;

				&:hover {
					background : none;
					color      : $link-hover-color;
				}
			}
		}
	}
}
