.th-navbar {
	@extend %font-smoothing;
	border : 0;
	margin : 0;

	@include respond-to(md-and-up) {
		min-height : 73px
	}

	&__toggle {
		background-color : $gray-bg--dark !important;
		border           : 0;
		border-right     : 1px solid $border--dark !important;
		border-radius    : 0;
		margin           : 0;
		position         : absolute;
		top              : 0;
		left             : 0;
		padding          : 18px 21px;

		&:hover {
			.icon-bar {
				@extend %opacity-75
			}
		}
	}

	&__menu {
		> li > a {
			@extend %animate-all;
			@include respond-to(md-and-up) {
				@include font($family : $font-family-main-menu, $size : 1.5rem);
				text-transform : uppercase;
				padding        : 26px 20px 27px;
			}
			@include respond-to(lg) {
				padding : 26px 30px 27px;
			}

			.caret {
				margin-left : 8px;
			}
		}
		> li:hover > a {
			color            : $navbar-inverse-link-hover-color;
			background-color : $navbar-inverse-link-hover-bg
		}
	}

	&__brand {
		padding : 0 15px;

		@include respond-to(sm-and-down) {
			float : none;

			img {
				margin     : 0 auto;
				max-height : 50px;
			}
		}
		@include respond-to(md-and-up) {
			padding-top : 8px;
		}
	}
}
