.th-product-slide {
	display: inline-block;
	float: none;

	a {

		&:hover {
			color: inherit;

			img {
				@extend %opacity-75;
			}
		}
	}

	&__image {
		display : block;
		margin: 0 auto;
		width   : 150px;
		height  : 150px;
		@include background($repeat : no-repeat, $position : center center);
	}

	&__name {
		@include font($family : Roboto-Condensed-Bold, $size : 1.5rem);
		margin-top     : 10px;
		text-transform : uppercase;
	}

	&__price {
		@include font($family : Roboto-Light, $size : 2.9rem);
	}

}
