@keyframes search-input-hide {
	0% {
		@include transform(translateX(0%));
	}

	100% {
		@include transform(translateX(200%));
	}
}

@keyframes search-input-show {
	0% {
		@include transform(translateX(100%));
	}

	100% {
		@include transform(translateX(0%));
	}
}

.th-search {
	background-color : $gray-bg--dark;
	border-left      : 1px solid $border--dark;
	position         : absolute !important;
	right            : 79px;
	top              : 0;
	color            : #ffffff !important;
	min-height       : 72px;
	min-width        : 78px;
	&:hover {
		color : #ababab !important;
	}

	&__trigger {
		color   : inherit;
		padding : 26px 32px !important;
		position : absolute;

		&:hover {
			color : inherit;
		}
	}

	&__popout {
		@extend %inline-block;
		padding-left : 275px;
		z-index      : -9;

		&.ng-hide-remove {
			-moz-animation    : search-input-show 0.2s ease-in-out;
			-ms-animation     : search-input-show 0.2s ease-in-out;
			-o-animationL     : search-input-show 0.2s ease-in-out;
			-webkit-animation : search-input-show 0.2s ease-in-out;
			animation         : search-input-show 0.2s ease-in-out;
			display           : block !important;
		}
		&.ng-hide-add {
			-moz-animation    : search-input-hide 0.2s ease-in-out;
			-ms-animation     : search-input-hide 0.2s ease-in-out;
			-o-animationL     : search-input-hide 0.2s ease-in-out;
			-webkit-animation : search-input-hide 0.2s ease-in-out;
			animation         : search-input-hide 0.2s ease-in-out;
			display           : block !important;
		}

		&--input {
			@extend %inline-block;
			position : absolute;
			left     : 72px;
			top      : 24px;
		}

		&--submit {
			@extend %inline-block;
			position : absolute;
			top      : 25px;
			right    : 15px;
		}
	}

	// Styles for search in mobile push menu

	&--mobile-menu {
		@extend %font-smoothing;
		@include box-shadow(rgba($navbar-inverse-bg,0.8) -25px 0 20px -20px inset);
		background-color : $gray-bg--dark;
		border-bottom    : thin solid $border--dark;
		height           : 49px;

		&__input {
			@extend %font-smoothing;
			background-color : $gray-bg--dark;
			border           : 0;
			box-shadow       : none;
			color            : $gray-light;
			font-size        : 16px;
			margin-top       : 8px;
			max-width        : 200px;
			padding-left     : 0;
		}

		.form-control {
			@extend %inline-block;
			@include input-placeholder {
				color       : $gray-light;
				font-family : 'Source-Sans-Pro-Regular';
			}
			&:focus {
				border     : 0;
				box-shadow : none;
			}
		}

		&__submit {
			background : 0;
			border     : 0;
			color      : $gray-light;
			float      : right;
			font-size  : 16px;
			outline    : 0;
			padding    : 14px 0 10px 14px;
			&:hover {
				color : $link-hover-color
			}
		}
	}
}
