.th-search {
	@extend %inline-block;
	background-color : $gray-bg--dark;
	border-left      : 1px solid $border--dark;
	padding          : 12px 15px;
	position         : absolute;
	top              : 0;
	right            : 66px;

	@include respond-to(md-and-up) {
		padding : 23px 25px;
		right   : 80px;

		&:hover {
			padding : 23px 15px;
		}
	}

	&__input {
		@extend %border-radius;
		border  : 0;
		outline : 0;
		padding : 3px 0;
		width   : 0;
	}

	&__submit {
		background : none;
		border     : 0;
		color      : white;
	}

	&:hover {
		@extend %animate-all;
		right : 0;

		.th-search__input {
			@extend %animate-all;
			padding : 3px 5px;
			width   : 75%;
		}
	}

	// Styles for search in mobile push menu

	&--mobile-menu {
		@extend %font-smoothing;
		@include box-shadow(rgba($navbar-inverse-bg,0.8) -25px 0 20px -20px inset);
		background-color : map-get($colors, bg--dark);
		border-bottom    : thin solid map-get($colors, border--dark);
		height           : 49px;

		&__input {
			@extend %font-smoothing;
			background-color : map-get($colors, bg--dark);
			border           : 0;
			box-shadow       : none;
			color            : $gray-light;
			font-size        : 16px;
			margin-top       : 8px;
			max-width        : 200px;
			padding-left     : 0;
		}

		.form-control {
			@extend %inline-block;
			@include input-placeholder {
				color       : $gray-light;
				font-family : 'Source-Sans-Pro-Regular';
			}
			&:focus {
				border     : 0;
				box-shadow : none;
			}
		}

		&__submit {
			background : 0;
			border     : 0;
			color      : $gray-light;
			float      : right;
			font-size  : 16px;
			outline    : 0;
			padding    : 14px 0 10px 14px;
			&:hover {
				color : $link-hover-color
			}
		}
	}
}
