// Details shown on product-tile hover

.th-tile-details {
	color: $text-color;
	height   : 0;         // Initialize to zero height before hover
	overflow : hidden;

	&__rating {
		padding : 7px 0;
	}

	&__description {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}
