.th-icon-slider {
  background: map-get($colors, bg);
  text-align: center;
  padding: 15px 0;

  @include respond-to(sm-and-up) {
    padding: 20px 0 45px;
  }

  &__title {
    text-transform: uppercase;
    font-family: Roboto-Light;
    font-size: 1.8rem;
    color: map-get($colors, text--light);

    @include respond-to(sm-and-up) {
      font-size: 2.4rem;
    }

  }

  &__next, &__previous {
    display: none;
  }

  &__next {
    right: 0;

    @include respond-to(sm-and-up) {
      @include center-by($height: icons-sprite-height(next));
    }

  }

  &__previous {
    left: 0;

    @include respond-to(sm-and-up) {
      @include center-by($height: icons-sprite-height(previous));
    }
  }

}

.th-icon-slider__belt {
  position: relative;
  padding: 15px 0;
  white-space: nowrap;

  @include respond-to(sm-and-up) {
    padding: 30px 0;
  }

  &__icon {
    display: block;
    margin: 0 auto;
    padding: 10px 0;

    .th-icon__foreground {
      display: block;
      margin: 0 auto;

      @include respond-to(sm-and-up) {
        @include inline-block;
        margin: 0;
      }

    }

    @include respond-to(sm-and-up) {
      @include inline-block;
      padding: 0 15px;
      margin: 0 30px;
    }

  }


}
