.th-product-views {
	text-align : center;
	margin-top : 10px;

	@include respond-to(sm-and-up) {
		margin-top : 20px;
	}

	&__image {
		@extend %inline-block;
		margin : 10px auto;
		max-height : 500px;

		@include respond-to(sm-and-up) {
			margin-top : 20px;
		}

		&--thumbnail {
			border : 1px solid map-get($colors, border);
			max-height : 125px;

				&:hover {
				@extend %animate-color;
				border-color : map-get($colors, brand-primary);
			}
		}
	}
}

