.th-product-views {
  text-align: center;
  margin-top: 10px;

  @include respond-to(sm-and-up) {
    margin-top: 20px;
  }

  &__image {
    @extend %inline-block;
    margin: 10px auto 0;
    border: 1px solid map-get($colors, border);

    &:hover {
      @extend %animate-color;
      border-color: map-get($colors, brand-primary);
    }

    @include respond-to(sm-and-up) {
      margin-top: 20px;
    }

  }
}

