.th-product-details {
	padding : 15px 0 0 0;

	@include respond-to(xs) { text-align: center }
	@include respond-to(md-and-up) { padding-top : 40px }

	&__manufacturer {
		@include font($size : 1.5rem, $line-height : 0.9, $family : Roboto-Light);
		text-transform : uppercase;

		@include respond-to(md-and-up) {
			font-size     : 2.0rem;
			margin-bottom : 5px;
		}

	}

	&__name {
		@include font(
		$size : 3.5rem,
		$line-height : 0.9,
		$family : Roboto-Light
		);

		@include respond-to(md-and-up) {
			font-size : 4.6rem;
		}

	}

	&__price {
		@include font($size : 2.9rem, $family : Roboto-Light);
		color : map-get($colors, brand-primary);

		.strike {
			color: $text-color;
			position: relative;
		}
		.strike:before {
			position: absolute;
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 2px solid map-get($colors, sale);
			@include rotate(-10deg);
		}
	}

	&__product-code {
		margin-top    : 5px;
		margin-bottom : 5px;
	}

	&__link {
		@include font($size : 1.0rem, $family : 'Montserrat-Bold');
		text-transform : uppercase;
		color          : map-get($colors, text--light);
	}

	&__stock-status {
		border       : 1px solid map-get($colors, border);
		border-width : 1px 0;
		padding      : 10px 0;
	}

	&__price, &__review-summary, &__description, &__social {
		margin : 12px 0;

		@include respond-to(md-and-up) {
			margin : 14px 0;
		}

	}

	&__cta {
		margin-top    : 10px;
		margin-bottom : 10px;
	}

	&__quantity {
		@include font($size : 1.6rem, $family : 'Montserrat-Bold');
		margin-top    : 15px;
		margin-bottom : 15px;

		input {
			height     : 43px;
			text-align : center;
		}
	}

	&__options {

		// TODO Move this to overrides
		.vn-product-option {
			@extend .col-sm-6;
		}

		.vn-labeled-radio {
			@extend .btn, .btn-default;
			margin-right : 5px;
			margin-bottom: 5px;

			&:active, &:focus {
				border-color: $link-hover-color;
				opacity: 0.9;
			}

			&.-disabled {
				@extend .disabled, .bg-danger;
			}

			.checked {
				// TODO fix selected state of buying options
			}
		}

		.vn-product-option__select ul {
			left: 0;
		}

		label {
			font-family : 'Source-Sans-Pro-Bold';
			font-weight : normal;
		}

		input[type="radio"] {
			display : none;
		}
	}

}
