.th-promo {
	text-transform : uppercase;
	position       : relative;
	padding        : 25px 0;
	overflow       : hidden;

	&__header {
		text-align : left;
	}

	&__image {
		display   : block;
		margin    : 0 auto;
		max-width : 300px;

		@include respond-to(sm-and-up) {
			float     : left;
			margin    : 20px;
			max-width : 330px;
		}

		@include respond-to(lg) {
			margin    : 20px 70px;
			max-width : 550px;
		}

	}

	&__cta {
		margin  : 20px 0 0;
		display : block;
	}

	&__title {
		font-size      : 1.5rem;
		line-height    : 0.9;
		text-transform : uppercase;
		margin         : 30px 0 10px;

		&--accent {
			color : map-get($colors, brand-primary);
		}

		@include respond-to(sm-and-up) {
			font-size : 2.0rem;
		}

		@include respond-to(md-and-up) {
			font-size : 2.4rem;
		}
	}

	&__body {
		@include font(
		$size : 3.3rem,
		$line-height : 0.9,
		$family : (Novecentosanswide-Bold)
		);
		margin-top : 0;

		@include respond-to(sm-and-up) {
			font-size : 4.3rem;
		}

		@include respond-to(md-and-up) {
			font-size : 5.3rem;
		}

	}

	&__accent {
		font-style : normal;
		color      : map-get($colors, brand-primary);
	}

}

.th-promo--cover {
	height : 260px;

	@include respond-to(sm-and-up) {
		height : 435px;
	}

	@include respond-to(sm-and-up) {
		height : 690px;
	}

	@include background(
	$image : image-url("theme/home/cover.jpg"),
	$repeat : no-repeat,
	$position : center center,
	$size : cover
	);

	&__header {
		position : absolute;
		top      : 24%;
		right    : 7%;
	}

	&__title {
		@include translucent-text(map-get($colors, text--lighter), 0.7);
		margin    : 0;
		font-size : 1.1rem;

		@include respond-to(sm-and-up) {
			font-size : 1.9rem;
		}

		@include respond-to(md-and-up) {
			font-size : 2.4rem;
		}
	}

	&__body {
		font-size : 3.9rem;
		color     : map-get($colors, text--lighter);

		@include respond-to(sm-and-up) {
			font-size : 7.3rem;
		}

		@include respond-to(md-and-up) {
			font-size : 9.2rem;
		}
	}

	&__cta {
		@extend %font-smoothing;
		background   : transparent;
		position     : absolute;
		bottom       : 6%;
		left         : 50%;
		margin-left  : -110px;
		color        : map-get($colors, text--lighter);
		border-color : map-get($colors, border--light);

		&:hover {
			background   : transparent;
			color        : map-get($colors, brand-primary);
			border-color : map-get($colors, brand-primary);
		}
	}

}
