.th-product-panels {
	margin : 15px 0;

	@include respond-to(md-and-up) {
		min-height: 500px;
	}

	&__panel {
		padding : 15px 0;

		@include respond-to(sm-and-up) {
			padding : 20px;
		}

		@include respond-to(md-and-up) {
			padding : 20px 0;
		}
	}

}
