.th-tile-details {
	height   : 0;
	overflow : hidden;

	&__view-details {
		display : block;
		margin  : 0 auto;
	}

	&__rating {
		padding : 7px 0;
	}

	&__description {
		margin-top: 5px;
		margin-bottom: 10px;
	}

}
