.th-top-bar {
	background-color : map-get($colors, bg--lighter);
	padding          : 20px 0;

	.breadcrumb {
		padding : 0;

		a:hover {
			color           : $text-color;
			text-decoration : underline;
		}
	}

	@include respond-to(xs) {
		h1 {
			font-size: 2.8rem;
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	.mobile-filters {
		text-align: left;
	}
}
