.vn-product-option {


	label {
		font-family : 'Source-Sans-Pro-Bold';
		font-weight : normal;
		font-size: 1.5rem;
	}

	input[type="radio"] {
		display : none;
	}
}

.vn-labeled-radio {
	@extend .btn, .btn-default;
	margin-right : 5px;
	margin-bottom: 5px;
	position: relative;

	.checked {
		@include border-radius(3px);
		border: 3px solid $brand-primary;
		margin: -3px;
		position : absolute;
		top      : 0;
		left     : 0;
		right    : 0;
		bottom   : 0;
	}

	&__content {
		letter-spacing: normal;
		line-height: normal;
		white-space: normal;
	}

	&.-disabled {
		@extend .disabled;
		position: relative;
		&:hover { cursor: not-allowed }

		&:before {
			position: absolute;
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 1px solid $gray-light;
			@include rotate(-25deg);
		}
		&:after {
			position: absolute;
			content: "";
			left: 0;
			top: 50%;
			right: 0;
			border-top: 1px solid $gray-light;
			@include rotate(25deg);
		}
	}
}

.vn-product-option__select ul {
	left: 0;
}
