<div class="container-fluid container-fluid--nopadding">
	<div data-ng-if="category.bannerImgUrl" class="th-category-graphic" style="background-image: url({{category.bannerImgUrl}})">
		<div class="container">
			<div class="th-category-graphic__title">{{category.name}}</div>
		</div>
	</div>
	<div data-ng-if="!category.bannerImgUrl" class="th-category-graphic" style="background-image: url('images/theme/category/cg-temp.jpg')">
		<div class="container">
			<div class="th-category-graphic__title">{{category.name}}</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-lg-2 vn-faceted-search"
				 ng-class="{ isMobileAndVisible: true == isMobileAndVisible }"
				 data-ng-hide="!hasFacetsOrCategories">

			<!--Sort By button-->
			<div class="vn-sort-mobile-search-control hidden-xs" vn-sort-search query-products="queryProducts()"></div>

			<h3 data-ng-show="!showMobileSearch">{{category.name}}</h3>
			<div vn-faceted-search
					 categories="categoryList"
					 facets="facets"
					 data-ng-show="mobileDisplay"
					 class="vn-faceted-search-control">
			</div>

			<!-- Mobile Filtering & Sorting Controls -->
			<div class="row mobile-filters" data-ng-hide="mobileDisplay"
					 ng-class="{ isMobileAndVisible: true == isMobileAndVisible }">
				<div class="col-xs-6 visible-xs-block" data-ng-click="toggleSearch()">
					<button class="btn btn-default pull-right vn-facet-search-control">Filter</button>
				</div>
				<div class="col-xs-6 visible-xs-block vn-sort-mobile-search-control" vn-sort-search query-products="queryProducts()"></div>
			</div>
		</div>
		<div class="col-sm-9 col-lg-10">
			<div class="row">
				<div class="col-xs-12 th-top-bar--category" data-ng-if="category.description">
					<span data-ng-bind-html="category.description | legacyLinkify | html"></span>
				</div>
				<div class="th-no-padding col-sm-6 col-md-4 col-lg-3" data-ng-repeat="product in products track by product.id">
					<div class="th-product-tile">
						<!-- TODO Style and test this code from Method
						<span class="th-product__sale" data-ng-show="product.isOnSale"></span>
						<span class="th-product__new" data-ng-show="product.isNew"></span>-->
						<div class="th-product-tile__image">
							<img data-ng-src="{{ getImagePath(product.imageCollections) }}" class="img-responsive" alt="">
						</div>
						<div class="th-product-tile__info">
							<a data-ng-href="{{product.url}}">
								<div class="th-product-tile__name">{{product.name}}</div>
							</a>

							<div class="th-product-tile__price">
								<span data-ng-show="product.pricing.regularPrice > 0">
									<span data-ng-class="{strike: product.pricing.salePrice > 0}">{{product.pricing.regularPrice | currency}}</span>
								</span>
								<span class="th-product-tile__price--sale" data-ng-show="product.pricing.salePrice > 0">
									<span>{{product.pricing.salePrice | currency}}</span>
								</span>
							</div>
							<div class="th-tile-details th-product-tile__details">
								<div class="th-review-stars" ng-if="product.avgRating">
									<span class="th-reviews__avg">
										<span data-vn-rating rating-value="product.avgRating"
													maximum="ratingsAndReviews.data.maxRating"
													editable="isEditable" title=""></span>
									</span>
								</div>
								<div class="th-tile-details__description">
									<span>{{product.descriptions.short}}</span>
								</div>
								<a data-ng-href="{{product.url}}">
									<button type="button" class="btn btn-lg th-btn--dark th-tile-details__view-details">View Details
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
