<div class="container-fluid container-fluid--nopadding">
	<div class="th-category-graphic">
		<!--<img class="banner img img-responsive"
				 ng-hide="checkForFacetFilters()"
				 ng-src="{{category.bannerImgUrl}}">-->
		<div class="container">
			<div class="th-category-graphic__title">{{category.name}}</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-lg-2 vn-faceted-search"
				 ng-class="{ isMobileAndVisible: true == isMobileAndVisible }"
				 data-ng-hide="!hasFacetsOrCategories">
			<h3 data-ng-show="!showMobileSearch">Narrow By</h3>
			<div vn-faceted-search
					 categories="categoryList"
					 facets="facets"
					 data-ng-show="mobileDisplay"
					 class="vn-faceted-search-control">
			</div>
		</div>
		<div class="col-sm-9 col-lg-10">
			<div class="row">
				<div class="th-no-padding col-sm-6 col-md-4 col-lg-3" data-ng-repeat="product in products track by product.id">
					<div class="th-product-tile">
						<a data-ng-href="{{product.url}}">
							<div class="th-product-tile__image">
								<img data-ng-src="{{ getImagePath(product.imageCollections) }}" class="img-responsive" alt="">
							</div>
						</a>
						<div class="th-product-tile__info">
							<a data-ng-href="{{product.url}}">
								<div class="th-product-tile__name">{{product.name}}</div>
							</a>
							<div class="th-product-tile__price">
								<span data-ng-show="product.pricing.regularPrice > 0">
									<span data-ng-class="{strike: product.pricing.salePrice > 0}">{{product.pricing.regularPrice | currency}}</span>
								<span data-ng-show="product.pricing.salePrice > 0">
									<span>{{product.pricing.salePrice | currency}}</span>
								</span>
							</div>
							<div class="th-tile-details th-product-tile__details">
								<div class="th-tile-details__rating"><img src="/images/demo/rating.png" class="img-responsive" alt="">
								</div>
								<div class="th-tile-options th-product-tile__options">
									<div class="th-tile-options__title">Color Options:</div>
									<a href="#"><img src="/images/demo/color-1.png" alt=""></a>
									<a href="#"><img src="/images/demo/color-2.png" alt=""></a>
									<a href="#"><img src="/images/demo/color-3.png" alt=""></a>
									<a href="#"><img src="/images/demo/color-4.png" alt=""></a>
								</div>
								<div class="th-tile-details__swatches"></div>
								<div class="th-tile-details__description">
									<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac
										cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
								</div>
								<a data-ng-href="{{product.url}}">
									<button type="button" class="btn btn-lg th-btn--dark th-tile-details__view-details">View Details</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
