<div class="container-fluid container-fluid--nopadding">
	<div data-ng-if="category.bannerImgUrl"
	     class="th-category-graphic"
	     style="background-image: url({{category.bannerImgUrl}})">
		<div class="container">
			<div class="th-category-graphic__title">{{category.name}}</div>
		</div>
	</div>
	<!--TODO Look into refactoring so not using inline styles-->
	<div data-ng-if="!category.bannerImgUrl"
	     class="th-category-graphic"
	     style="background-image: url('images/theme/category/category-header-bg.jpg')">
		<div class="container">
			<div class="th-category-graphic__title">{{category.name}}</div>
		</div>
	</div>
	<div class="visible-xs-block" data-ng-if="category.description">
		<div class="col-xs-12 th-top-bar--category">
			<span data-ng-bind-html="category.description | vnLegacyLinkify | html"></span>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-lg-2 vn-faceted-search"
		     data-ng-class="{ isMobileAndVisible: true == isMobileAndVisible }"
				 data-ng-hide="!hasFacetsOrCategories">

			<!--Sort By button-->
			<div class="vn-sort-mobile-search-control hidden-xs" vn-sort-search query-products="queryProducts()"></div>

			<h3 data-ng-show="!showMobileSearch">{{category.name}}</h3>
			<div vn-faceted-search
					 categories="categoryList"
					 facets="facets"
					 data-ng-show="mobileDisplay"
					 class="vn-faceted-search-control">
			</div>

			<!-- Mobile Filtering & Sorting Controls -->
			<div class="row mobile-filters" data-ng-hide="mobileDisplay"
			     data-ng-class="{ isMobileAndVisible: true == isMobileAndVisible }">
				<div class="col-xs-6 visible-xs-block" data-ng-click="toggleSearch()">
					<button class="btn btn-default pull-right vn-facet-search-control">Filter</button>
				</div>
				<div class="col-xs-6 visible-xs-block vn-sort-mobile-search-control" vn-sort-search query-products="queryProducts()"></div>
			</div>
		</div>
		<div class="col-sm-9 col-lg-10">
			<div class="row hidden-xs" data-ng-if="category.description">
				<div class="col-sm-12 th-top-bar--category">
					<span data-ng-bind-html="category.description | vnLegacyLinkify | html"></span>
				</div>
			</div>
			<div class="row row--no-col-padding">
				<div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="product in products track by product.id"
						 data-ng-include=" 'views/partials/product-tile.html' ">
				</div>
			</div>
		</div>
	</div>
</div>
