<section class="th-promo th-promo--cover">
	<header class="th-promo__header th-promo--cover__header">
		<h1 class="th-promo__title th-promo--cover__title">Bose Headphones</h1>
		<h2 class="th-promo__body th-promo--cover__body">Engage<br>in the<br><em class="th-promo__accent">Music</em></h2>
	</header>
	<footer>
		<a data-ng-href="/all-products" class="btn btn-default btn-lg th-promo__cta th-promo--cover__cta" role="button">Start Shopping Now</a>
	</footer>
</section>

<div class="container-fluid">

	<div class="row th-featured">
		<div class="col-xs-12">
			<div class="th-featured__title">Now Trending</div>
			<a data-ng-href="/all-products" class="th-featured__link">See all</a>
		</div>
	</div>

	<div class="row row--no-col-padding">
		<div class="col-sm-6 col-md-3" data-ng-repeat="product in featuredProducts"
				 data-ng-include=" 'views/partials/product-tile.html' ">
		</div>
	</div>

	<section class="row th-promo">
		<div class="col-sm-6 th-promo__image">
			<img ng-src="{{themeSettings.pages.home.tiles.tiles.tile1.imageUrl}}"
			     class="img-responsive center-block" alt="{{themeSettings.pages.home.tiles.tiles.tile1.imageName}}">
		</div>
		<div class="col-sm-6 th-promo__copy">
			<h1 class="th-promo__title">{{themeSettings.pages.home.tiles.tiles.tile1.promoTitle}}</h1>
			<h2 class="th-promo__body">{{themeSettings.pages.home.tiles.tiles.tile1.promoBody}}</h2>
			<a data-ng-href="{{themeSettings.pages.home.tiles.tiles.tile1.linkTo}}"
			        class="btn btn-primary btn-lg th-promo__cta" role="button">
				Shop Now
			</a>
		</div>
	</section>

</div>

<div class="container-fluid container-fluid--nopadding hidden-xs">
	<div class="th-slider th-slider--dark">
		<div class="th-slider__title th-slider__title--light">Our Customers also liked:</div>
		<div class="th-slider__belt">
			<a href="#">
				<div class="th-icon th-icon--next th-slider__next">
					<div class="th-icon__foreground"></div>
				</div>
			</a>
			<a href="#">
				<div class="th-icon th-icon--previous th-slider__previous">
					<div class="th-icon__foreground"></div>
				</div>
			</a>

			<div class="th-slider__slide">
				<a href="#">
					<div class="th-icon th-icon--lenovo">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
			</div>
			<div class="th-slider__slide">
				<a href="#">
					<div class="th-icon th-icon--beats-audio">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
			</div>
			<div class="th-slider__slide">
				<a href="#">
					<div class="th-icon th-icon--playstation">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
			</div>
			<div class="th-slider__slide">
				<a href="#">
					<div class="th-icon th-icon--xbox">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
			</div>
			<div class="th-slider__slide">
				<a href="#">
					<div class="th-icon th-icon--apple">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
