<div class="clearfix" itemscope itemtype="http://schema.org/Product">
	<div class="visible-md visible-lg th-top-bar">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#">Gizmo</a></li>
				<li><a href="#">Computers &amp; Tablets</a></li>
				<li class="active">Lenovo Yoga</li>
			</ol>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="row">
					<div class="col-xs-3 col-sm-2">
						<div class="th-product-views">
							<a data-ng-click="product.image=image" ng-repeat="image in currentImageCollection | filter: '!youtube.com'">
								<img data-ng-src="{{ image.medium }}" class="img-responsive th-product-views__image" alt="">
							</a>
						</div>
					</div>
					<div class="col-xs-9 col-sm-10">
						<div class="th-product-views">
							<a href="#">
								<img data-ng-src="{{product.image.medium}}" class="img-responsive th-product-views__image"
										 alt="{{product.name}}">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="th-product-details">
					<div class="th-product-details__manufacturer">Lenovo</div>
					<div class="th-product-details__name">{{product.name}}</div>
					<div class="th-product-details__price">{{product.pricing.regularPrice | currency}}</div>
					<div class="th-product-details__model"><b>Model:</b> Lenovo Yoga</div>
					<div class="th-product-details__product-code"><b>Model:</b> SHYD78</div>
					<div class="th-product-details__review-summary">
						<div class="th-review-stars">
							<div class="th-icon th-icon--star th-review-stars__star">
								<div class="th-icon__foreground"></div>
							</div>
							<div class="th-icon th-icon--star th-review-stars__star">
								<div class="th-icon__foreground"></div>
							</div>
							<div class="th-icon th-icon--star th-review-stars__star">
								<div class="th-icon__foreground"></div>
							</div>
							<div class="th-icon th-icon--star th-review-stars__star">
								<div class="th-icon__foreground"></div>
							</div>
							<div class="th-icon th-icon--star-inactive th-review-stars__star">
								<div class="th-icon__foreground"></div>
							</div>
						</div>
						<a href="#" class="th-product-details__link">(45) See Reviews</a>
						|
						<a href="#" class="th-product-details__link">Write a review</a>
					</div>
					<div class="th-product-details__stock-status">In stock. Ships in 24 hours. Limit 5 per customer.</div>
					<div class="th-product-details__description" itemprop="description"
							 data-ng-bind-html="product.descriptions.detail | legacyLinkify | html">
					</div>

					<div class="visible-md visible-lg th-social-share th-product-details__social">
						<div class="th-social-share__item">
							<img src="/images/demo/like.png" alt="">
						</div>
						<div class="th-social-share__item">
							<img src="/images/demo/pin-it.png" alt="">
						</div>
						<div class="th-social-share__item">
							<img src="/images/demo/google-plus.png" alt="">
						</div>
						<div class="th-social-share__item">
							<img src="/images/demo/tweet.png" alt="">
						</div>
					</div>
					<div class="th-product-details__quantity">
						<form class="form-inline" role="form">
							<div class="form-group">
								<label class="control-label" for="quantity">Qty: </label>
								<input type="number" class="form-control" id="quantity">
							</div>
						</form>
					</div>
					<div class="th-product-details__cta">
						<div class="row">
							<div class="col-sm-6">
								<button class="btn btn-primary btn-lg btn-block th-product-details__button"
												data-ng-class="{ '-disabled' : buttonDisabled }"
												data-translate="product.addToCart"
												data-ng-click="addToCart()"
												data-popover="{{ popoverText }}"
												data-popover-placement="bottom"
												data-analytics-category="element click"
												data-analytics-label="Add to Cart"
												data-analytics-location="body-product"
												data-analytics-description="Add to Cart Button">
									Add to Cart
								</button>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-default btn-lg btn-block th-product-details__button">Add to Wishlist</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid container-fluid--nopadding">
		<div class="th-slider">
			<div class="th-slider__title">Our Customers also liked:</div>
			<div class="th-slider__belt">
				<a href="#">
					<div class="th-icon th-icon--next th-slider__next">
						<div class="th-icon__foreground"></div>
					</div>
				</a>
				<a href="#">
					<div class="th-icon th-icon--previous th-slider__previous">
						<div class="th-icon__foreground"></div>
					</div>
				</a>

				<div class="th-slider__slide" data-ng-repeat="product in relatedProducts | filter: '!' + product.id">
					<div class="th-product-slide">
						<a data-ng-href="{{ product.url }}" class="th-product-slide__image">
							<img data-ng-src="{{ getImagePath(product.imageCollections) }}" class="img-responsive"
									 alt="{{ product.name }}">
						</a>

						<div class="th-product-slide__name">
							<a href="#">{{product.name}}</a>
						</div>
						<div class="th-product-slide__price">{{product.pricing.regularPrice | currency}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="th-product-panels">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Features</a></li>
				<li><a href="#">Technical Specs</a></li>
				<li><a href="#">Customer Reviews</a></li>
			</ul>
			<div class="th-product-panels__panel">
				<div class="th-product-features">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<ul class="th-features-list">
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">360-Degree Flip-and-Fold Design, With Lenovo Transition</h3>

											<p class="th-feature__description">Easily change between the four modes – Lenovo Transition
												automatically switches system settings and locks the keyboard in place.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">Up to Windows 8 Pro</h3>

											<p class="th-feature__description">Combine integrated touch, keyboard, and mouse for a fast, fluid,
												and fun PC experience.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">Lenovo Motion Control</h3>

											<p class="th-feature__description">Use the webcam as an input device – effortlessly flip pages,
												rewind/forward music, change volume, and gesture other simple commands with the flick of a
												hand.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">310-Finger Multitouch Technology</h3>

											<p class="th-feature__description">Seamlessly integrate with Windows 8 and enjoy more precise
												control.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">InstantResume</h3>

											<p class="th-feature__description">Awaken this ultra-responsive device from sleep mode in just 10
												seconds</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">HD Graphics Support</h3>

											<p class="th-feature__description">Enjoy beautiful visuals, with HDMI output for easy connection to
												a TV or other monitor.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">Lenovo Cloud Storage</h3>

											<p class="th-feature__description">Protect your critical data, while also making access to
												information and file-sharing quick and convenient. Automatically back-up and synchronize data
												across the organization, while enabling access from multiple devices. Data is encrypted on
												transfer for an extra level of security.</p>
										</div>
									</li>
									<li class="th-features-list__item">
										<div class="th-feature">
											<h3 class="th-feature__title">Fast Data Transfer</h3>

											<p class="th-feature__description">Move data quickly between the Yoga 13 and other devices with USB
												3.0 SuperSpeed – it's up to 10 times faster than previous USB technologies.</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<img src="/images/demo/product-features.jpg" class="img-responsive" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
