<div class="th-top-bar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-md-7 col-md-offset-3 col-lg-8 col-lg-offset-2"
			     data-ng-class="{ 'isMobileAndHidden': true == !isMobileAndHidden }">
				<h1 ng-if="products.length > 1">{{cursor.total}} results for "{{searchTerms}}"</h1>
				<h1 ng-if="products.length < 1">No results for "{{searchTerms}}"</h1>
				<h1 ng-if="products.length === 1">1 result for "{{searchTerms}}"</h1>
			</div>
			<div vn-sort-search
					 class="hidden-xs col-sm-3 col-md-2 vn-sort-desktop-search"
					 data-ng-show="mobileDisplay"
					 query-products="queryProducts()"
					 data-ng-if="products.length > 0">
			</div>

			<!-- Mobile Filtering & Sorting Controls -->
			<div class="row mobile-filters" data-ng-hide="mobileDisplay"
			     data-ng-class="{ isMobileAndVisible: true == isMobileAndVisible }">
				<div class="col-xs-6 visible-xs-block" data-ng-click="toggleSearch()">
					<button class="btn btn-default pull-right vn-facet-search-control">Filter</button>
				</div>
				<div class="col-xs-6 visible-xs-block vn-sort-mobile-search-control" vn-sort-search query-products="queryProducts()"></div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-lg-2 vn-faceted-search"
		     data-ng-class="{ isMobileAndVisible: true == isMobileAndVisible }"
				 data-ng-hide="!hasFacetsOrCategories">
			<h3 data-ng-show="!showMobileSearch">Refine By</h3>
			<div vn-faceted-search
					 categories="categoryList"
					 facets="facets"
					 data-ng-show="mobileDisplay"
					 class="vn-faceted-search-control">
			</div>
		</div>
		<div class="col-sm-9 col-lg-10" data-ng-class="{ 'isMobileAndHidden': true == !isMobileAndHidden }">
			<div class="row row--no-col-padding">
				<div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="product in products track by product.id"
						 data-ng-include=" 'views/partials/product-tile.html' ">
				</div>
			</div>
		</div>
	</div>
</div>
